<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{url_for('static', filename='/generatedTemplates/output.png')}}">
    <img src="{{url_for('static', filename='/generatedTemplates/output2.png')}}">
    <img src="{{url_for('static', filename='/generatedTemplates/output3.png')}}">
    <img src="{{url_for('static', filename='/generatedTemplates/output4.png')}}">
    <img src="{{url_for('static', filename='/generatedTemplates/output5.png')}}">
    <img src="{{url_for('static', filename='/generatedTemplates/output6.png')}}">
    <img src="{{url_for('static', filename='/generatedTemplates/output7.png')}}">
</body>
</html>